/* Start Top Players Animation */

.players{
    position: relative;
    animation: top-slide 1s ease-out 0.5s;
}
@keyframes top-slide {
    0%{
        top: -100px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

/* End Top Players Animation */